---
import { getAllBlogs } from "../lib/blog";
import lib from "zenn-markdown-html";
import { Blog } from "../components/Blog";
import Layout from "../layouts/Layout.astro";

// build時にそのまま使うとエラーになるため修正
type MarkdownOptions = {
  embedOrigin: string;
};
type MarkdownHtml = (text: string, options?: MarkdownOptions) => string;
type MarkdownHtmlAtBuild = { default: MarkdownHtml };

let markdownHtml: MarkdownHtml = lib;

if (typeof lib !== "function") {
  markdownHtml = (lib as MarkdownHtmlAtBuild).default;
}

export interface Props {
  title: string;
  tags: string[];
  date: string;
  body: string;
}

export async function getStaticPaths() {
  const blogs = await getAllBlogs();
  return blogs.map((blog) => {
    return {
      params: {
        slug: blog.slug,
      },
      props: {
        title: blog.title,
        tags: blog.tags,
        date: blog.date,
        body: blog.body,
      },
    };
  });
}

const { title, tags, date, body } = Astro.props;
const slug = Astro.params.slug;
const html = markdownHtml(body, {
  embedOrigin: "https://embed.zenn.studio",
});
---

<Layout title={title}>
  <head>
    <!-- twitter -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta
      name="twitter:image"
      content={`https://ogp-generate.j-y-87524086.workers.dev?msg=${title}`}
    />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:url" content={`https://jy-panda.com/${slug}`} />

    <meta property="og:url" content={`https://jy-panda.com/${slug}`} />
    <meta property="og:title" content={title} />
    <meta
      property="og:image"
      content={`https://ogp-generate.j-y-87524086.workers.dev?msg=${title}`}
    />
  </head>
  <div class="p-10 max-w-3xl m-auto">
    <div class="pb-5 border-b-2 mb-10 border-purple-400">
      <div>{date}</div>
      <h1 class="font-bold text-4xl">{title}</h1>
      <div class="flex flex-wrap">
        {
          tags.map((t) => (
            <div class="bg-blue-800 rounded-full px-3 py-1 text-sm font-semibold mr-2 mt-2">
              {t}
            </div>
          ))
        }
      </div>
    </div>
    <Blog html={html} />
  </div>
</Layout>
